{%extends "authentication/base.html" %}
{%load static%}
{%block style %}
<link rel="stylesheet" href="{%static 'authentication/style.css' %}">
{%endblock%}
{%block content%}
    <form action='/edit/' method='post'>
    {% csrf_token %}
        <h3>My Profile</h3>
        {{message}}
        {%for i in form%}
        <div class="form-control {%if form.i.errors%}errors{%endif%}">
            {{i.label_tag}}
            {{i}}
            {{i.errors}}
        </div>
        {%endfor%}
        <a href="{%url 'myprofile' %}" ><button type="submit">Save</button></a>
    </form>
{%endblock%}