{%extends "authentication/base.html" %}
{%load static%}
{%block style %}
<link rel="stylesheet" href="{%static 'authentication/style.css' %}">
{%endblock%}
{%block content%}
    <form action='/otp/' method='post'>
    {% csrf_token %}
        <h3>OTP</h3>
        {{message}}
        {%for i in form%}
        <div class="form-control {%if form.i.errors%}errors{%endif%}">
            {{i.label_tag}}
            {{i}}
            {{i.errors}}
        </div>
        {%endfor%}
        <button type="submit">Verify</button>
    </form>

{%endblock%}