{%extends "authentication/base.html" %}
{%load static%}
{%block style %}
<link rel="stylesheet" href="{%static 'authentication/style.css' %}">
{%endblock%}
{%block content%}
    <form  method='post'>
    {% csrf_token %}
    {%if validlink%}
        <h3>Reset password</h3>
        <div class="form-control">
            {{form.as_p}}
        </div>
        <button type="submit">Submit</button>
    {%else%}
        <div class="form-control">
          The password reset link was invalid ,possibly because it has already been used.
          Please request a new password reset.
        </div>
    </form>

{%endblock%}