{%extends "authentication/base.html" %}
{%load static%}
{%block style %}
<link rel="stylesheet" href="{%static 'css/style.css' %}">
{%endblock%}
{%block content%}
    <form action='/signin/' method='post'>
    {% csrf_token %}
        <h3>Sign In</h3>
        {{message}}
        {%for i in form%}
        <div class="form-control {%if form.i.errors%}errors{%endif%}">
            {{i.label_tag}}
            {{i}}
            {{i.errors}}
        </div>
        {%endfor%}
        <hr>
        <button type="submit"> Sign In</button>
        <hr>
        <div id='link1'><h5>Don't have an account?<a href="{%url 'signup'%}">Sign Up</a> </h4></div>
        <div id='link2'><h5><a href="{%url 'password_reset'%}">Forgot Password</a><h4></div>
        <hr>
        <div id='link3'><h5 style='text-align:center'><a href="#">contact us</h5></div>
    </form>

{%endblock%}