{%extends "authentication/base.html" %}
{%load static%}
{%block style %}
<link rel="stylesheet" href="{%static 'authentication/style.css' %}">
{%endblock%}
{%block content%}
    <form action='/signin/' method='post'>
    {% csrf_token %}
        <h3>Sign In</h3>
        {{message}}
        {%for i in form%}
        <div class="form-control {%if form.i.errors%}errors{%endif%}">
            {{i.label_tag}}
            {{i}}
            {{i.errors}}
        </div>
        {%endfor%}
        <button type="submit"> Sign In</button>
    </form>
    <h4>Don't have an account?<a href="http://127.0.0.1:8000/signup/">Sign Up</a> </h4>

{%endblock%}