*{
    color: black;}
#nav{height:400px;
    background-color: rgb(68, 2, 84,0.2);}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.search-bar {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.account {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.dropbtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.cart-icon {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
}

.cart-icon img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.cart-count {
    background-color: #4CAF50;
    color: white;
    padding: 3px 8px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 0.8rem;
}
.scrollable-boxes {
    background-color: #f5f5f5;
    padding: 20px 0;
    overflow-x: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-right: 20px;
    min-width: 300px;
    flex: 0 0 auto; /* Ensures boxes don't grow */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.box h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-list, .category-list {
    display: flex;
    flex-wrap: nowrap; /* Ensures items stay in a single row */
    text-decoration:none ;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-right: 10px;
    border-radius: 6px;
    min-width: 180px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-decoration:none ;
}

.product a{text-decoration:none ;}

.product img {
    max-width:100px;
    max-height: 100px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.product span {
    text-align: center;
    text-decoration:none ;
}