body{
    font-family: Verdana,Tahoma, sans-serif;
    margin:0;
    background-color:white;
}

form{
    justify-content: center;
    margin: 6rem 9rem 3rem 25rem;
    width:30%;
    max-width: 40rem;
    padding:2rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

h4,h3{
    color:black;
    text-align: center;
}

button{
    cursor:pointer;
    padding: 0.5rem 1.5em;
    border-radius: 12px;
    background-color: green;
    color: azure;
    border: 1px solid green;
}

button:hover,
button:active{
    background-color: green;
    border-color: green;
}

.form-control{
    margin-bottom: 1rem;
}

.form-control-input{
    font:inherit;
    padding: 0.25rem;
    border: 1px solid white;
    display: block;
    width: 20rem;
}

.form-control-input:focus{
    border-color: #0c23f5;
    outline: double;
    background-color: white;
}

.form-control label{
    font-weight: normal;
    display: block;
}