{%extends "authentication/base.html" %}
{%load static%}
{%block style %}
<link rel="stylesheet" href="{%static 'authentication/index.css' %}">
{%endblock%}
{%block content%}
<div id="nav">
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#">E-commerce</a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </div>
            <div class="account">
                <div class="dropdown">
                    <button class="dropbtn">Account</button>
                    <div class="dropdown-content">
                        <a href="{%url 'signin'%}">Sign In</a>
                        <a href="{%url 'signup'%}">Sign Up</a>
                        <a href="{%url 'index'%}">Sign Out</a>
                    </div>
                </div>
                <a href="{%url 'cart'%}" class="cart-icon">
                    <img src="static/authentication/images/cart.png" alt="Cart">
                    <span class="cart-count">0</span>
                </a>
            </div>
        </div>
    </nav>
</div>
{%block body%}{%endblock%}
{%endblock%}