{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
{%if user.is_authenticated%}
{{message}}
{%endif%}
    <h4>Welcome {{fname}}!</h4>
	<!---<div class="row">
		{%for i in product%}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{i.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{i.name}}</strong></h6>
				<hr>
				<button data-product={{i.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-success" href="{%url 'views' i.id%}">View</a>
				<h4 style="display: inline-block; float: center"><strong>Rs.{{i.price}}</strong></h4>

			</div>
		</div>
		{%endfor%}
	</div>-->
	<div class="store-container">
		{%for i in product%}
		<div class="card">
			<div class="img"><img class="thumbnail" src="{{i.imageURL}}"></div>
			<div class="info">
			   <h4><strong>{{i.name}}</strong></h4>
			   <hr>
			   <button data-product={{i.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
			   <a style="text-decoration:none " class="btn btn-outline-success" href="{%url 'views' i.id%}">View</a>
               {%if i.discount is None%}
			   <h4 style="display: inline-block; float: center; color:black"><strong>Rs.{{i.price}}</strong></h4>
			   {%else%}
			   <h6 style="display: inline-block; float: center; text-decoration:line-through; color:grey"><strong>Rs.{{i.price}}</strong></h6>
			   <h4 style="display: inline-block; float: center; color:black"><strong>Rs.{{i.price_after_discount}}</strong></h4>
			   {%endif%}
			</div>
		</div>
		{%endfor%}
   </div>

{% endblock content %}