{% extends 'shop/main.html' %}
{% load static %}
{% block navbar %}
<nav  class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'store' %}">Store<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{%url 'signup'%}">Signup</a>
            <a class="dropdown-item" href="{%url 'signin'%}">Signin</a>
            <div class="dropdown-divider"></div>
            <a id="signout" class="dropdown-item" href="{%url 'signout'%}">SignOut</a>
            <a id="changepassword" class="dropdown-item" href="{%url 'changepassword'%}">Change password</a>
            <a id="myprofile" class="dropdown-item" href="{%url 'myprofile'%}">MyProfile</a>
            <a id='myorders' class="dropdown-item" href="{%url 'myorders'%}">MyOrders</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {%for i in category%}
            <a class="dropdown-item" href="{%url 'category' i.name%}">{{i.name}}</a>
            {%endfor%}
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action='/search/' method='POST'>
        {%csrf_token%}
        <input class="form-control mr-sm-2" type="search" name='search' placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <div class="form-inline my-2 my-lg-0">
        <a href="{% url 'cart' %}">
            <img  id="cart-icon" src="{% static 'images/cart.png' %}"></a>
      <p id="cart-total">{{order_items}}</p>
    </div>
  </nav>
{%endblock%}
{% block content %}
{%for i in product%}
<div class="container">
<div class="view">
	<div class="view-container2" style="width:370px;">
		<div  class="box-element" id="form-wrapper">
            <div class="view-img1"><img class="thumbnail" src="{{i.imageURL}}"></div>
            <hr>
            <div class="cart-row">
                  <div style="flex:2"><button data-product={{i.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button></div>
                  <div style='flex:2'><button data-product={{i.id}} data-action="delete" class="btn btn-outline-secondary add-btn update-cart">Delete</button></div>
                  <div class="quantity">
                        <img data-product="{{i.id}}"  data-action="add" class="chg-quantity update-cart" src="{% static  'images/3+arrow-up.png' %}">
            
                        <img data-product="{{i.id}}"  data-action="remove" class="chg-quantity update-cart" src="{% static  'images/2+arrow-down.png' %}">
                  </div>
            </div>
		</div>
		
	</div>

	<div class="view-container">
                <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Back to Store</a>
                <hr>
                <h3>{{i.name}}</h3>
                <hr>
                {%if i.price_after_discount is not none%}
                <h5 style="color:green" >special price {{i.discount}}% off</h5>
                <h5 style="text-decoration:line-through; color:rgb(0,0,255,1)">Rs.{{i.price}}</h5>
                <h2 style="color:black"><b>Rs.{{i.price_after_discount}}</b></h2>
                {%else%}
                <h2>Rs.{{i.price}}</h2>
                {%endif%}
                <hr>
                <h5>Product details</h5>
                <hr>
                <pre>{{i.product_details}}</pre>
	</div>
</div>
</div>
{%endfor%}
{%endblock%}