{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
{%for i in product%}
<div class="container">
<div class="view">
	<div class="view-container2" style="width:370px;">
		<div  class="box-element" id="form-wrapper">
            <div class="view-img1"><img class="thumbnail" src="{{i.imageURL}}"></div>
            <hr>
            <div class="cart-row">
                  <div style="flex:2"><button data-product={{i.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button></div>
                  <div style='flex:2'><button data-product={{i.id}} data-action="delete" class="btn btn-outline-secondary add-btn update-cart">Delete</button></div>
                  <div class="quantity">
                        <img data-product="{{i.id}}"  data-action="add" class="chg-quantity update-cart" src="{% static  'images/3+arrow-up.png' %}">
            
                        <img data-product="{{i.id}}"  data-action="remove" class="chg-quantity update-cart" src="{% static  'images/2+arrow-down.png' %}">
                  </div>
            </div>
		</div>
		
	</div>

	<div class="view-container">
                <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Back to Store</a>
                <hr>
                <h3>{{i.name}}</h3>
                <hr>
                {%if i.price_after_discount is not none%}
                <h5 style="color:green" >special price {{i.discount}}% off</h5>
                <h5 style="text-decoration:line-through; color:rgb(0,0,255,1)">Rs.{{i.price}}</h5>
                <h2 style="color:black"><b>Rs.{{i.price_after_discount}}</b></h2>
                {%else%}
                <h2>Rs.{{i.price}}</h2>
                {%endif%}
                <hr>
                <h5>Product details</h5>
                <hr>
                <pre>{{i.product_details}}</pre>
	</div>
</div>
</div>
{%endfor%}
{%endblock%}